# Dependencias


# Archivos de compilación / build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# IDEs / editores
.idea/
.vscode/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

**/.env